includes:
    - vendor/phpstan/phpstan-laravel/extension.neon
parameters:
    level: 5
    paths:
        - app
        - routes
    scanFiles:
        - bootstrap/app.php
    ignoreErrors:
        - '#Call to undefined method#'
